{% extends 'markdown_base.html' %}
{% load static %}
{% block content %}
{% block meta %}
    <title>Create an item</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/Pela_Sticker_02.png' %}" >
{% endblock meta %}


<h1>New Item</h1>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
                <a>
                    Fill "Image dir" with the url of the image.<br>
                    Files allowed: .gif, .png, .jpeg, .jpg
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product"/>
            </td>
        </tr>
    </table>
</form>


{% endblock %}