{% extends 'markdown_base.html' %}
{% load static %}
{% load get_item %}

{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'main/images/March_7th_Sticker_07.png' %}" >


<h1>hsr inventory</h1>
{% if all_item_count == item_count %}
<h4>There are currently {{all_item_count}} items in this app.<br>
To show only n items, append '/{n}' to the url path.</h4>
{%else%}
<h4>There are currently {{all_item_count}} items in this app, of which {{item_count}} are shown.</h4>
{%endif%}

{% for x in items %}
<span>
	{% if x.id == 2 %}
	<a href="{% static 'main/images/tricksnack.gif' %}">
	{% endif %}
	<div style="height:200px;position: relative;background-image:url('/static/main/images/Background_Item_{{x.rarity}}_Star.png');background-size: contain;">
	<img style="background: transparent;" src="{{ x.image_dir }}" alt="{{x.name}}" title="{{x.name}}" width="160" class="bound"/><br>
	</div>
	<div style="border-bottom:1px solid var(--color-border-default);height:100px;">
		<b>
			{{x.name}}
			{% if x.id == 2 %}
			</a>
			{% endif %}
			<br>({{ rarity|get_item:x.id }})
		</b>
		<br>
		Amount: {{x.amount}}
	</div>
	<div style="height:200px;width:200px;overflow:auto;">
		{{x.description}}<br>
		Effect: {{x.effect}}<br><br>
	</div>
</span>
{% endfor %}

<br><br>
<a href="{% url 'main:create_item' %}">
	<button>
		Add New Item
	</button>
</a>

<a href=".."><button>Go back</button></a>
<hr>
description, effects, and images taken (and condensed) from <a href=https://honkai-star-rail.fandom.com/wiki/Honkai:_Star_Rail_Wiki>Honkai: Star Rail wiki</a>.<br>
github-markdown.css by <a href="https://github.com/sindresorhus/github-markdown-css">sindresorhus</a> and used under the MIT License<br>
website by sefriano edsel jieftara, class of pbp d</p>


{% endblock %}