{% extends 'markdown_base.html' %}
{% load static %}
{% load get_item %}

{% block meta %}
    <title>Inventory</title>
	<style>
		span.item_window div img {
			position: relative;
			max-height: 200px;
			max-width: 200px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition-duration: .2s;
			margin: 0 auto;
		}

		span.item_window div img:hover {
			scale: 1.2;
			translate: 10% 10%;
			transition-duration: .2s;
		}

		span.item_window {
			width: 200px;
			height: 580px;
			padding: 3px;
			padding-bottom: 2px;
			border: 1px solid var(--color-fg-default) ;
			display: inline-block;
		}

		@keyframes rainbow { 
    		to{background-position:1000px 50%}
		}

		.rainbow-text {
			background-image: repeating-linear-gradient( to right,
				rgba(255, 0, 0, 1) 0%,
				rgba(255, 154, 0, 1) 10%,
				rgba(208, 222, 33, 1) 20%,
				rgba(79, 220, 74, 1) 30%,
				rgba(63, 218, 216, 1) 40%,
				rgba(47, 201, 226, 1) 50%,
				rgba(28, 127, 238, 1) 60%,
				rgba(95, 21, 242, 1) 70%,
				rgba(186, 12, 248, 1) 80%,
				rgba(251, 7, 217, 1) 90%,
				rgba(255, 0, 0, 1) 100%);
			text-align: center;
			background-size: 1000px 100px;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: rainbow 6s linear infinite;
		}
	</style>
{% endblock meta %}

{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'main/images/March_7th_Sticker_07.png' %}" >


<h1>hsr inventory</h1>


{% if all_item_count == item_count %}
	<h4>There are currently {{all_item_count}} items in this app<br>
		You have created {{user_item_count}} items.<br>
	{% if all_item_count != 0 %}
	To show only n items, append '/{n}' to the url path.<br>
	Example: <a href="10">10 items</a></h4>
	{%endif%}
{%else%}
	<h4>There are currently {{all_item_count}} items in this app, of which {{item_count}} are shown.<br>
	<a href=".">
		<button style="margin-top: 2px;"> See all items </button>
	</a></h4>
{%endif%}

{% if messages %}
	<h4>Messages:</h4>
	{% for message in messages %}  
		<li>{{ message }}</li>  
	{% endfor %}
{% endif %}



<br>

{% for x in items %}
<span class="item_window">
	{% if x.id == 2 %} <a href="{% static 'main/images/tricksnack.gif' %}"> {% endif %}
	
	<div style="padding-bottom: 2px;height:200px;position: relative;background-image:url('/static/main/images/Background_Item_{{x.rarity}}_Star.png');background-size: contain;">
		<img style="background: transparent;" src="{{ x.image_dir }}" alt="{{x.name}}" title="{{x.name}}" width="160" class="bound"/><br>
	</div>
	<div style="border-bottom:1px solid var(--color-border-default);height:180px;">
		<b {% if x.pk == last_item %} class="rainbow-text" {% endif %} >
			{{x.name}}
			{% if x.pk == 2 and x.name == "Trick Snack" %} </a> {% endif %}
			
			<br>({{ rarity|get_item:x.pk }})
		</b>
		<br>
		Amount: {{x.amount}}
		<a href="{% url 'main:change_item' id=x.pk amount=1 %}">
			<button> + </button>
		</a>
		<a href="{% url 'main:change_item' id=x.pk amount=-1 %}">
			<button> - </button>
		</a>
		<br>
		Created by: {{ x.created_by.username }}
		<br>
		<a href="{% url 'main:delete_item'  id=x.pk %}" >
			<button style="background-color: red; color:black;">
				Delete Item
			</button>
		</a>
	</div>
	<div style="height:200px;width:200px;overflow:auto;">
		{{x.description}}<br>
		Effect: {{x.effect}}<br><br>
	</div>
</span>
{% endfor %}


<br><br>
<a href="{% url 'main:create_item' %}">
	<button style="margin-bottom: 4px;">
		Add New Item
	</button>
</a>
<br>

<a href=".."><button>Go back</button></a>

<br>
{% if last_login %}
<h4>Last login: {{last_login}}</h4>
{% endif %}

<hr>
description, effects, and images taken (and condensed) from <a href=https://honkai-star-rail.fandom.com/wiki/Honkai:_Star_Rail_Wiki>Honkai: Star Rail wiki</a>.<br>
github-markdown.css by <a href="https://github.com/sindresorhus/github-markdown-css">sindresorhus</a><br>
bootstrap.min.css by <a href="https://github.com/twbs/bootstrap/">The Bootstrap Authors</a><br>
both css stylesheets modified and used under the MIT license.<br>
website by sefriano edsel jieftara, class of pbp d


{% endblock content %}