{% extends 'markdown_base.html' %}
{% load static %}
{% load get_item %}

{% block meta %}
	<link rel="shortcut icon" type="image/png" href="{% static 'main/images/Pela_Sticker_02.png' %}" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Static list</title>
{% endblock meta %}


{% block content %}
<h2>Static files list:</h2>

{% for sdir in static_list.keys %}
	<h4>{{sdir}}/</h4>
	{% for statics in static_list|get_item:sdir %}
		<li><a href="{% static sdir|add:'/'|add:statics %}">{{statics}}</a></li>
	{% endfor %}
{% endfor %}

{% endblock content %}